################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Viceri.SuperHero.Api/obj/Debug/net8.0
/Viceri.SuperHero.Api/obj
/Viceri.SuperHero.Front/.vs
/Viceri.SuperHero.Front/.vscode
/Viceri.SuperHero.Api/bin/Debug/net8.0
